@charset "UTF-8";
@font-face {
    font-family: idroid;
    src: url("fontes/idroid.otf")format('opentype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: rgba(139, 250, 154, 0.788);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
header{
    background-image:linear-gradient(to top,rgba(1, 26, 1, 0.541),rgba(116, 233, 116, 0.726)) ;
    color: white;
    text-align: center; 
    height: 150px; 
    padding-top: 5px;
}
header>p{
    text-align: center;
    
}
a{
    text-decoration: none;
    color: rgb(241, 241, 241);
    padding-right: 20px;   
} 
nav{
    text-align: left;
    padding-left: 10px;
}
section{
    width:700px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.459);
}
article>h1{
    color: rgb(2, 92, 2);
    font-family: idroid, Arial, Helvetica, sans-serif;
    font-size: 28px;
}
article>h2{
    background-image:linear-gradient(to right,rgba(31, 163, 31, 0.541),rgba(253, 253, 253)) ;
    color: white;
    color: rgb(2, 92, 2);
    padding-left: 10px;
    font-family: idroid, Arial, Helvetica, sans-serif;
    font-size: 23px;
}
p{
    text-align: justify;
    text-indent: 30px;
}
#bugdroid{
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#video{
    background-color:  rgb(2, 92, 2);;
}
section.lista{
    margin-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
}
article.lista{
    background-color: rgba(139, 250, 154, 0.788) ;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.521);
}
    
h3{
    background-color: rgba(20, 136, 20, 0.521);
    color: #fff;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    border-top-left-radius:10px ;
    border-top-right-radius:10px;
    height: 30px;
}
container{
     display: grid;
     width: 550px;
     grid-template-columns: 350px 1fr;
}
footer{
    text-align: center;
    color: #fff;
    background-color:rgb(0, 68, 0);
}.imagens{
    width: 700px;
}